.country{
    width: 45px;
    height: 200px;
    background-color: transparent;
    color: white;
    background: fixed;
    background-color: rgb(1, 1, 75);
}
.country{
    width: 200px;
    height:200px;
}
.list{
    color: white;
    width: 45px;
    height: 200px;
    background-color: transparent;
    color: white;
    background: fixed;
    background-color: rgb(1, 1, 75);
}
.city{
width: 100px;
height: 20px;
}
h1{
    
}
body{
    background-color: rgb(3, 3, 51);
    text-align: center;
    padding: 20%;
    
}



